body {
  margin: 0;
}

* {
  color: #383e45;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  /* width: 100%; */
  /* box-sizing: border-box; */
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  height: 40px;
  margin-left: 25px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 8px;
  /* margin-bottom: 10px; */
}

nav li {
  width: 80px;
  /* background-color: blue; */
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
}

nav li:hover {
  cursor: pointer;
  opacity: 0.5;
}

.topimage {
  background-image: url(./S__165019655.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

.about {
  display: flex;
  justify-content: center;
}

.about h2 {
  border-bottom: 1px solid #383e45;
  font-size: 32px;
  margin-top: 85px;
  margin-bottom: 55px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.container img {
  border-radius: 50%;
  height: 100px;
  margin-right: 30px;
}

.text h3 {
  font-size: 16px;
}

.text p {
  font-size: 14px;
}

.bicycle {
  display: flex;
  justify-content: center;
}

.bicycle h2 {
  border-bottom: 1px solid #383e45;
  font-size: 32px;
  margin-bottom: 45px;
}

.listcontainer ul {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.listcontainer li {
  list-style: none;
  /* max-width: 960px; */
}

.listcontainer img {
  max-width: 100%;
  padding: 10px;
  /* margin-bottom: 0; */
}

.listcontainer h3 {
  text-align: center;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.listcontainer p {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

footer {
  margin-top: 105px;
  text-align: center;
  font-size: 11px;
}